.header {
	background-color: #131921;
	display: flex;
	height: 60px;
	z-index: 100;
	position: sticky;
	top: 0;
	align-items: center;
}

.header__search {
	display: flex;
	flex: 1;
	align-items: center;
	border-radius: 24px;
}

.header__searchInput {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
}

.header__searchIcon {
	padding: 5px;
	height: 22px !important;
	background-color: #cd9042;
}

.header__logo {
	width: 100px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 18px;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}

.header__option {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
}

.header__optionLineOne {
	font-size: 10px;
}

.header__optionLineTwo {
	font-size: 13px;
	font-weight: 800;
}

.header__optionBasket {
	display: flex;
	align-items: center;
	color: white;
}

.header__optionBasketCount {
	margin-left: 10px;
	margin-right: 10px;
}
