.login {
	background-color: #333;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.login__logo {
	margin-top: 20px;
	margin-bottom: 20px;
	object-fit: contain;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.login__container {
	width: 300px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 20px;
}

.login__container > h1 {
	font-weight: 500;
	margin-bottom: 20px;
}

.login__container > form > h5 {
	margin-bottom: 5px;
}

.login__container > p {
	margin-top: 15px;
	font-size: 12px;
}

.login__container > form > input {
	margin-bottom: 10px;
	height: 30px;
	background-color: #444;
	width: 98%;
	color: white;
	padding: 0 5px;
}

.login__signinbutton {
	background: #f0c14b;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 12px;
	border-color: #a88734 #9c7e31 #846a29;
	padding: 3px 6px;
	color: #111;
}

.login__registerbutton {
	background: rebeccapurple;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 12px;
	padding: 3px 6px;
	color: white;
}
